Docker/data/
Docker/.env
smiley.txt*
UI/appsettings.json
appsettings.json*
.dll
.pdb
.vs/
*.user
*.suo
*.cache
*.log
*.bak
*.tmp
*.swp
*.sln.docstates
*.sln.ide
*.sln.cache
*.sln.user
*.sln.suo
*.sln.vspscc
*.sln.ide.*
*.sln.cache.*           
/UI/bin/
/UI/obj/
/Backend/bin/
/Backend/obj/  
/Core/bin/
/Core/obj/  
/Tests/bin/
/Tests/obj/     
/tests/